<div style="text-align:center">

  <h2>Hierarchical Entity Preference</h2>
  <div class="row flex-items-xs-center form-wrapper">
    <div class="col-lg-12" style="text-align:center">
      <form action="" class="intellect-form" [formGroup]="hierarchyPreferenceForm">

        <section class="form-block" style="text-align:left">

          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="gForm_1" class="required">Hierarchy Entity Type</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="select form-control">
                <ng-select labelForId="hierarchyEntityType" placeholder="Select hierarchy/entity type"
                  [searchable]="false" formControlName="hierarchyEntityType">
                  <ng-option value="Option 1">Option 1</ng-option>
                  <ng-option value="Option 2">Option 2</ng-option>
                  <ng-option value="Option 3">Option 3</ng-option>
                  <ng-option value="Option 4">Option 4</ng-option>
                  <ng-option value="Option 5">Option 5</ng-option>
                </ng-select>
              </div>
              <div class="invalid-feedback">
                <div *ngIf="hpForm.hierarchyEntityType.touched && hpForm.hierarchyEntityType.invalid">Hierarchy entity
                  type is required</div>
              </div>
            </div>

            <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="gForm_1" class="required">Hierarchy Entity Code</label>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
              <input class="form-control" formControlName="hierarchyEntityCode" type="text" id="gForm_1"
                placeholder="Enter hierarchy code" maxlength="50">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="disclaimerBucket" class="required">Disclaimer Bucket</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="select form-control">
                <ng-select labelForId="disclaimerBucket" placeholder="Select disclaimer bucket" [searchable]="false"
                  formControlName="disclaimerBucket">
                  <ng-option value="Option 1">Option 1</ng-option>
                  <ng-option value="Option 2">Option 2</ng-option>
                  <ng-option value="Option 3">Option 3</ng-option>
                  <ng-option value="Option 4">Option 4</ng-option>
                  <ng-option value="Option 5">Option 5</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="disclaimerRule" class="required">Disclaimer Rule</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="select form-control">
                <ng-select labelForId="disclaimerRule" placeholder="Select disclaimer rule" [searchable]="false"
                  formControlName="disclaimerRule">
                  <ng-option value="Option 1">Option 1</ng-option>
                  <ng-option value="Option 2">Option 2</ng-option>
                  <ng-option value="Option 3">Option 3</ng-option>
                  <ng-option value="Option 4">Option 4</ng-option>
                  <ng-option value="Option 5">Option 5</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="advisingBucket" class="required">Advising Bucket</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="select form-control">
                <ng-select labelForId="advisingBucket" placeholder="Select advising bucket" [searchable]="false"
                  formControlName="advisingBucket">
                  <ng-option value="Option 1">Option 1</ng-option>
                  <ng-option value="Option 2">Option 2</ng-option>
                  <ng-option value="Option 3">Option 3</ng-option>
                  <ng-option value="Option 4">Option 4</ng-option>
                  <ng-option value="Option 5">Option 5</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="advisingRule" class="required">Advising Rule</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="select form-control">
                <ng-select labelForId="advisingRule" placeholder="Select advising rule" [searchable]="false"
                  formControlName="advisingRule">
                  <ng-option value="Option 1">Option 1</ng-option>
                  <ng-option value="Option 2">Option 2</ng-option>
                  <ng-option value="Option 3">Option 3</ng-option>
                  <ng-option value="Option 4">Option 4</ng-option>
                  <ng-option value="Option 5">Option 5</ng-option>
                </ng-select>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="marketingBucket" class="required">Marketing Bucket</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="select form-control">
                <ng-select labelForId="marketingBucket" placeholder="Select marketing bucket" [searchable]="false"
                  formControlName="marketingBucket">
                  <ng-option value="Option 1">Option 1</ng-option>
                  <ng-option value="Option 2">Option 2</ng-option>
                  <ng-option value="Option 3">Option 3</ng-option>
                  <ng-option value="Option 4">Option 4</ng-option>
                  <ng-option value="Option 5">Option 5</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="marketingRule" class="required">Marketing Rule</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="select form-control">
                <ng-select labelForId="marketingRule" placeholder="Select marketing rule" [searchable]="false"
                  formControlName="marketingRule">
                  <ng-option value="Option 1">Option 1</ng-option>
                  <ng-option value="Option 2">Option 2</ng-option>
                  <ng-option value="Option 3">Option 3</ng-option>
                  <ng-option value="Option 4">Option 4</ng-option>
                  <ng-option value="Option 5">Option 5</ng-option>
                </ng-select>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="gForm_1" class="required">Decision Code</label>
              <div class="select form-control">
                <ng-select labelForId="decisionCode" placeholder="Select decision code" [searchable]="false"
                  formControlName="decisionCode">
                  <ng-option value="Option 1">Option 1</ng-option>
                  <ng-option value="Option 2">Option 2</ng-option>
                  <ng-option value="Option 3">Option 3</ng-option>
                  <ng-option value="Option 4">Option 4</ng-option>
                  <ng-option value="Option 5">Option 5</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
              <label for="gForm_1" class="required">Score Multiplier</label>
              <div class="select form-control">
                <ng-select labelForId="scoreMultiplier" placeholder="Select score multiplier" [searchable]="false"
                  formControlName="scoreMultiplier">
                  <ng-option value="Option 1">Option 1</ng-option>
                  <ng-option value="Option 2">Option 2</ng-option>
                  <ng-option value="Option 3">Option 3</ng-option>
                  <ng-option value="Option 4">Option 4</ng-option>
                  <ng-option value="Option 5">Option 5</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"><label>&nbsp;</label>
              <button type="button" class="btn btn-primary" (click)="addEntityPreference()">+Add</button>
              <!-- <ng-container *ngIf="hpForm.decisionCode.valid && hpForm.scoreMultiplier.valid">
                <button type="button" class="btn btn-primary" (click)="addEntityPreference()">Add</button>
              </ng-container> -->
            </div>
          </div>
          <!-- *ngIf="isEntityPreferenceAvailable" -->
          <div class="row flex-items-xs-center flex-items-md-left">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 col-xl-8">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="left">Decision Code</th>
                        <th>Score Multiplier</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <!-- <tr *ngFor="let entity of entityPrefArr">
                        <td class="left">{{ entity.decisionCode }}</td>
                        <td>{{ entity.scoreMultiplier }}</td>
                      </tr> -->
                    </tbody>
                  </table>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <!-- </ng-template> -->

          <div class="row ">
            <div class="col-xs-12 " style="text-align: right">
              <hr>
              <button class="btn" type="button" [disabled]="hierarchyPreferenceForm.invalid">Cancel</button>
              <button class="btn btn-primary" type="submit" [disabled]="hierarchyPreferenceForm.invalid">Save</button>
              <hr>
            </div>
          </div>

        </section>
      </form>
    </div>
  </div>


</div>
