<header class="header-6 header intellect-header">
  <div class="branding">
          <a href="..." class="nav-link">
              <img src="../assets/brand-logo.png" alt="iGTB">
          </a>
      </div>
</header>
<header class="header intellect-header intellect-sub-header">
    <div class="header-actions">
        <div class="btn-back">
            <a href=''><span class="intellect-icon-caret-left"></span> <span>&nbsp;</span> Back</a>
        </div>
      <!-- <button class="intellect-sub-header-action" (click)="">
        <span class="intellect-icon-caret-left"></span>
        <span>&nbsp;</span> Back
      </button> -->
    </div>
</header>
