<div style="text-align: center">
  <h2>Error Code</h2>
</div>

<div class="row flex-items-xs-center form-wrapper">
  <div class="col-lg-12" style="text-align:center">
    <form action="" class="intellect-form" [formGroup]="errorCodeForm">
      <section class="form-block" style="text-align:left">
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="errorCode" class="required">Error Code</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="errorCode" id="errorCode"
              placeholder="Enter field code" maxlength="20">
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="errorCategory" class="required">Error Category</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <div class="select form-control">
              <ng-select labelForId="errorCategory" placeholder="Select enrichment type" [searchable]="false"
                formControlName="errorCategory">
                <ng-option value="Alphanumeric">Alphanumeric</ng-option>
                <ng-option value="Numeric">Numeric</ng-option>
                <ng-option value="Big Numeric">Big Numeric</ng-option>
                <ng-option value="Date">Date</ng-option>
                <ng-option value="Time">Time</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="errorDescription" class="required">Error Description</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="errorDescription" id="errorDescription"
              placeholder="Enter field description" maxlength="200">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="clientErrorCode">Client Error Code</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="clientErrorCode" id="clientErrorCode"
              placeholder="Enter client error code" maxlength="20">
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="clientErrorDescription">Client Error Description</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="clientErrorDescription" id="clientErrorDescription"
              placeholder="Enter client error description" maxlength="200">
          </div>
        </div>

        <div class="row ">
          <div class="col-xs-12 " style="text-align: right">
            <hr>
            <button class="btn" type="button" [disabled]="errorCodeForm.invalid">Cancel</button>
            <button class="btn btn-primary" type="submit" [disabled]="errorCodeForm.invalid">Save</button>
            <hr>
          </div>
        </div>

      </section>
    </form>
  </div>
</div>
