<div style="text-align: center">
  <h2>Validation Rule Setup</h2>
</div>

<div class="row flex-items-xs-center form-wrapper">
  <div class="col-lg-12" style="text-align:center">
    <form action="" class="intellect-form" [formGroup]="validationRuleForm">
      <section class="form-block" style="text-align:left">
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="ruleCode" class="required">Rule Code</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="ruleCode" id="ruleCode"
              placeholder="Enter rule code" maxlength="20">
              <ng-container *ngIf="vRuleForm.ruleCode.touched && vRuleForm.ruleCode.invalid">
                <span class="errors" *ngIf="vRuleForm.ruleCode.errors.required">Rule code is required.</span>
                <span class="errors" *ngIf="vRuleForm.ruleCode.errors.validCode">No special characters allowed.</span>
              </ng-container>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="ruleName" class="required">Rule Name</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="ruleName" id="ruleName" placeholder="Enter rule name" maxlength="50" required>
            <ng-container *ngIf="vRuleForm.ruleName.touched && vRuleForm.ruleName.invalid">
              <span class="errors" *ngIf="vRuleForm.ruleName.errors.required">Rule name is required.</span>
              <span class="errors" *ngIf="vRuleForm.ruleName.errors.validCode">No special characters allowed.</span>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="ruleDescription" class="required">Rule Description</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="ruleDescription" id="ruleDescription" placeholder="Enter rule description"
              maxlength="20">
              <ng-container *ngIf="vRuleForm.ruleDescription.touched && vRuleForm.ruleDescription.invalid">
                <span class="errors" *ngIf="vRuleForm.ruleDescription.errors.required">Rule description is required.</span>
              </ng-container>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="ruleBucket" class="required">Rule Bucket</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <div class="select form-control">
                <ng-select labelForId="ruleBucket" placeholder="Select rule bucket" [searchable]="false"
                formControlName="ruleBucket">
                <ng-option value="Option 1">Option 1</ng-option>
                <ng-option value="Option 2">Option 2</ng-option>
                <ng-option value="Option 3">Option 3</ng-option>
                <ng-option value="Option 4">Option 4</ng-option>
                <ng-option value="Option 5">Option 5</ng-option>
              </ng-select>
            </div>
            <ng-container *ngIf="vRuleForm.ruleBucket.touched && vRuleForm.ruleBucket.invalid">
              <span class="errors" *ngIf="vRuleForm.ruleBucket.errors.required">Rule bucket is required.</span>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="linkedToField" class="required">Linked to Field</label>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <div class="radio-inline">
              <input type="radio" value="yes" formControlName="linkedToField" name="linkedToField" id="checkrads_9" [(ngModel)]="linkedToField">
              <label for="checkrads_9">Yes</label>
            </div>
            <div class="radio-inline">
              <input type="radio" value="no" formControlName="linkedToField" name="linkedToField" id="checkrads_10" [(ngModel)]="linkedToField">
              <label for="checkrads_10">No</label>
            </div>
            <ng-container *ngIf="vRuleForm.linkedToField.touched && vRuleForm.linkedToField.invalid">
              <span class="errors" *ngIf="vRuleForm.linkedToField.errors.required">Linked to field is required.</span>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="fieldCode" class="required">Field Code</label>
            <div class="select form-control">
                <ng-select labelForId="fieldCode" placeholder="Select field code" [searchable]="false"
                formControlName="fieldCode">
                <ng-option value="Option 1">Option 1</ng-option>
                <ng-option value="Option 2">Option 2</ng-option>
                <ng-option value="Option 3">Option 3</ng-option>
                <ng-option value="Option 4">Option 4</ng-option>
                <ng-option value="Option 5">Option 5</ng-option>
              </ng-select>
            </div>
            <ng-container *ngIf="vRuleForm.fieldCode.touched && vRuleForm.fieldCode.invalid">
              <span class="errors" *ngIf="vRuleForm.fieldCode.errors.required">Field code is required.</span>
            </ng-container>
          </div>
          <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
            <label for="operator" class="required">Operator</label>
            <div class="select form-control">
                <ng-select labelForId="operator" placeholder="Select field bucket" [searchable]="false"
                formControlName="operator">
                <ng-option value="value">Value</ng-option>
                <ng-option value="isNull">isNull</ng-option>
                <ng-option value="length">Length</ng-option>
                <ng-option value="ceil">Ceil</ng-option>
                <ng-option value="floor">Floor</ng-option>
              </ng-select>
            </div>
            <ng-container *ngIf="vRuleForm.operator.touched && vRuleForm.operator.invalid">
              <span class="errors" *ngIf="vRuleForm.operator.errors.required">Operator is required.</span>
            </ng-container>
          </div>
          <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
            <label for="negate">Negate</label>
            <div class="checkbox">
              <input type="checkbox" id="negate" formControlName="negate" checked value="yes">
              <label for="negate"></label>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="comparator" class="required">Comparator</label>
            <div class="select form-control">
                <ng-select labelForId="comparator" placeholder="Select comparator" [searchable]="false"
                formControlName="comparator">
                <ng-option value="equals">Equals</ng-option>
                <ng-option value="contains">Contains</ng-option>
                <ng-option value="gt">Greater than (GT)</ng-option>
                <ng-option value="lt">Lower than (LT)</ng-option>
                <ng-option value="ge">Less than Equal to (GE)</ng-option>
                <ng-option value="le">Less than Equal to (LE)</ng-option>
              </ng-select>
            </div>
            <ng-container *ngIf="vRuleForm.comparator.touched && vRuleForm.comparator.invalid">
              <span class="errors" *ngIf="vRuleForm.comparator.errors.required">Comparator is required.</span>
            </ng-container>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="valueType" class="required">Value Type</label>
            <div class="select form-control">
                <ng-select labelForId="valueType" placeholder="Select value type" [searchable]="false"
                formControlName="valueType">
                <ng-option value="fixed">Fixed</ng-option>
                <ng-option value="dynamicApi">Dynamic Api</ng-option>
                <ng-option value="query">Query</ng-option>
                <ng-option value="list">List</ng-option>
                <ng-option value="envVar">Env Var</ng-option>
                <ng-option value="field">Field</ng-option>
              </ng-select>
            </div>
            <ng-container *ngIf="vRuleForm.valueType.touched && vRuleForm.valueType.invalid">
              <span class="errors" *ngIf="vRuleForm.valueType.errors.required">Value type is required.</span>
            </ng-container>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="value" class="required">Value</label>
            <input class="form-control" type="text" id="value" formControlName="value" placeholder="Enter value here"
              size="45" maxlength="20">
              <ng-container *ngIf="vRuleForm.value.touched && vRuleForm.value.invalid">
                <span class="errors" *ngIf="vRuleForm.value.errors.required">Value is required.</span>
              </ng-container>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="">&nbsp;</label>
            <div class="btn-actions">
              <button type="submit" class="btn btn-primary">+ OR</button>
              <button type="submit" class="btn btn-primary">+ AND</button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
            <table class="table">
              <thead>
                <tr>
                  <th class="left">Field Code</th>
                  <th>Operator</th>
                  <th>Negate</th>
                  <th>Comparator</th>
                  <th>Value Type</th>
                  <th>Value</th>
                  <th>"AND" Sequence</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <!-- <tr>
                  <td>Option 1</td>
                  <td>Option 1</td>
                  <td></td>
                  <td>Option 1</td>
                  <td>Option 1</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Option 2</td>
                  <td>Option 2</td>
                  <td></td>
                  <td>Option 2</td>
                  <td>Option 2</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Option 3</td>
                  <td>Option 3</td>
                  <td></td>
                  <td>Option 3</td>
                  <td>Option 3</td>
                  <td></td>
                  <td></td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12 " style="text-align: right">
            <hr>
            <button class="btn" type="button" [disabled]="validationRuleForm.invalid">Cancel</button>
            <button class="btn btn-primary" type="submit" [disabled]="validationRuleForm.invalid">Save</button>
            <hr>
          </div>
        </div>

      </section>
    </form>
  </div>
</div>
