<div style="text-align: center">
  <h2>Query Configuration</h2>
</div>
<div class="row flex-items-xs-center form-wrapper">
  <div class="col-lg-12" style="text-align:center">
    <form action="" class="intellect-form" [formGroup]="queryConfigForm">
      <section class="form-block" style="text-align:left">
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="queryCode" class="required">Query Code</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" formControlName="queryCode" type="text" id="queryCode"
              placeholder="Enter query code" maxlength="20">
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="queryName" class="required">Query Name</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" formControlName="queryName" type="text" id="queryName"
              placeholder="Enter query name" maxlength="50">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="queryDescription" class="required">Query Description</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" formControlName="queryDescription" type="text" id="queryDescription"
              placeholder="Enter query description" maxlength="200">
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label class="required">Query Type</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <div class="radio-inline">
              <input type="radio" formControlName="queryType" name="queryType" id="checkrads_9">
              <label for="checkrads_9">SQL</label>
            </div>
            <div class="radio-inline">
              <input type="radio" formControlName="queryType" name="queryType" id="checkrads_10" checked>
              <label for="checkrads_10">Lucene</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="dataSource" class="required">Data Source</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="select form-control">
                <ng-select labelForId="dataSource" placeholder="Select data source" [searchable]="false"
                formControlName="dataSource">
                <ng-option value="Option 1">Option 1</ng-option>
                <ng-option value="Option 2">Option 2</ng-option>
                <ng-option value="Option 3">Option 3</ng-option>
                <ng-option value="Option 4">Option 4</ng-option>
                <ng-option value="Option 5">Option 5</ng-option>
              </ng-select>
            </div>
          </div>

          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="queryString" class="required">Query String</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <textarea id="queryString" formControlName="queryString" rows="5" class="form-control"
              maxlength="4000"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="singleRowOutput" class="required">Single Row Output</label>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="radio-inline">
              <input type="radio" value="yes" formControlName="singleRowOutput" name="singleRowOutput"
                id="checkrads_13">
              <label for="checkrads_13">Yes</label>
            </div>
            <div class="radio-inline">
              <input type="radio" value="no" formControlName="singleRowOutput" name="singleRowOutput" id="checkrads_14"
                checked>
              <label for="checkrads_14">No</label>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="returnValueAlias" class="required">Return Value Alias</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="returnValueAlias" id="returnValueAlias"
              placeholder="Enter return value alias" maxlength="30">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
            <label for="sequence" class="required">Sequence</label>
            <div class="select form-control">
                <ng-select labelForId="sequence" placeholder="Select sequence" [searchable]="false"
                formControlName="sequence">
                <ng-option value="Option 1">Option 1</ng-option>
                <ng-option value="Option 2">Option 2</ng-option>
                <ng-option value="Option 3">Option 3</ng-option>
                <ng-option value="Option 4">Option 4</ng-option>
                <ng-option value="Option 5">Option 5</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="variable" class="required">Datatype</label>
            <div class="select form-control">
                <ng-select labelForId="variable" placeholder="Select datatype of bind-variables" [searchable]="false"
                formControlName="variable">
                <ng-option value="Option 1">Option 1</ng-option>
                <ng-option value="Option 2">Option 2</ng-option>
                <ng-option value="Option 3">Option 3</ng-option>
                <ng-option value="Option 4">Option 4</ng-option>
                <ng-option value="Option 5">Option 5</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <label for="fieldCodeMapping" class="required">Field Code Mapping</label>
            <div class="select form-control">
                <ng-select labelForId="fieldCodeMapping" placeholder="Select field code mapping" [searchable]="false"
                formControlName="fieldCodeMapping">
                <ng-option value="Option 1">Option 1</ng-option>
                <ng-option value="Option 2">Option 2</ng-option>
                <ng-option value="Option 3">Option 3</ng-option>
                <ng-option value="Option 4">Option 4</ng-option>
                <ng-option value="Option 5">Option 5</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
            <label>&nbsp;</label><br>
            <button type="submit" class="btn btn-primary">+Add</button>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Sequence</th>
                  <th>Datatype</th>
                  <th>Field Code Mapping</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <!-- <tr>
                      <td>{{listSeq}}</td>
                      <td>Loren Ipsum</td>
                      <td>1</td>
                      <td>Loren Ipsum</td>
                    </tr>
                    <tr>
                      <td>{{listSeq}}</td>
                      <td>Loren Ipsum</td>
                      <td>1</td>
                      <td>Loren Ipsum</td>
                    </tr>
                    <tr>
                      <td>{{listSeq}}</td>
                      <td>Loren Ipsum</td>
                      <td>1</td>
                      <td>Loren Ipsum</td>
                    </tr> -->
              </tbody>
            </table>
          </div>

        </div>
        <div class="row ">
          <div class="col-xs-12 " style="text-align: right">
            <hr>
            <button class="btn" type="button" [disabled]="queryConfigForm.invalid">Cancel</button>
            <button class="btn btn-primary" type="submit" [disabled]="queryConfigForm.invalid">Save</button>
            <hr>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
