<div style="text-align:center">
  <h2>Decision Parameters</h2>
  <div class="row flex-items-xs-center form-wrapper">
    <div class="col-lg-12" style="text-align:center">
      <form action="" class="intellect-form" [formGroup]="decisionParamForm">
        <section class="form-block" style="text-align:left">

          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="decisionCode" class="required">Decision Code</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <input class="form-control" formControlName="decisionCode" type="text" id="decisionCode"
                placeholder="Enter decision code" size="45" maxlength="20">
            </div>
            <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="decisionLabel" class="required">Decision Label</label>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
              <input class="form-control" formControlName="decisionLabel" type="text" id="decisionLabel"
                placeholder="Enter decision code" size="45" maxlength="20">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="superlativeLabel" class="required">Superlative Label</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <input class="form-control" formControlName="superlativeLabel" type="text" id="superlativeLabel"
                placeholder="Enter superlative label" size="45" maxlength="20">
            </div>
            <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="inferiorLabel" class="required">Inferior Label</label>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
              <input class="form-control" type="text" formControlName="inferiorLabel" id="inferiorLabel"
                placeholder="Enter inferior label" size="45" maxlength="20">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="ruleBucket" class="required">Rule Bucket</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="select form-control">
                <ng-select labelForId="ruleBucket" placeholder="Select rule bucket" [searchable]="false"
                  formControlName="ruleBucket">
                  <ng-option *ngFor="let rb of ruleBucketData" value="rb">{{ rb }}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="scoringRule" class="required">Scoring Rule</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="select form-control">
                <ng-select labelForId="scoringRule" placeholder="Select scoring rule" [searchable]="false"
                  formControlName="scoringRule">
                  <ng-option value="Option 1">Option 1</ng-option>
                  <ng-option value="Option 2">Option 2</ng-option>
                  <ng-option value="Option 3">Option 3</ng-option>
                </ng-select>
              </div>
            </div>

          </div>

          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="commonalityFactor" class="required">Commonality Factor</label>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
              <input class="form-control" type="text" formControlName="commonalityFactor" id="commonalityFactor"
                placeholder="Enter commonality factor" size="45" maxlength="5">
            </div>
          </div>

          <div class="row ">
            <div class="col-xs-12 " style="text-align: right">
              <hr>
              <button class="btn" type="button" [disabled]="decisionParamForm.invalid">Cancel</button>
              <button class="btn btn-primary" type="submit" [disabled]="decisionParamForm.invalid">Save</button>
              <hr>
            </div>
          </div>

        </section>
      </form>
    </div>
  </div>
</div>
