<div style="text-align: center">
  <h2>Interfacing System</h2>
</div>

<div class="row flex-items-xs-center form-wrapper">
  <div class="col-lg-12" style="text-align:center">
    <form action="" class="intellect-form" [formGroup]="externalSystemForm">
      <section class="form-block" style="text-align:left">
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="systemCode" class="required">System Code</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="systemCode" id="systemCode" placeholder="Enter system code" maxlength="20">
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="systemName" class="required">System Name</label>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
              <input class="form-control" type="text" id="systemName" formControlName="systemName" placeholder="Enter system name" maxlength="50">
            </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label class="required" class="required">System Level</label>
          </div>
          <div class="col-lg-5 col-md-3 col-sm-12 col-xs-12">
            <div class="radio-inline">
              <input type="radio" formControlName="systemLevel" id="checkrads_9" value="upstream">
              <label for="checkrads_9">Upstream</label>
            </div>
            <div class="radio-inline">
              <input type="radio" formControlName="systemLevel" id="checkrads_10" value="downstream">
              <label for="checkrads_10">Downstream</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label class="required">Connection Type</label>
          </div>
          <div class="col-lg-5 col-md-3 col-sm-12 col-xs-12">
            <div class="radio-inline">
              <input type="radio" id="checkrads_11" formControlName="connectionType" value="serviceDiscovery">
              <label for="checkrads_11">Service Discovery</label>
            </div>
            <div class="radio-inline">
              <input type="radio" id="checkrads_12" formControlName="connectionType" value="dnsBased"
                >
              <label for="checkrads_12">DNS Based</label>
            </div>
            <!-- {{connectionType}} -->
          </div>
        </div>
        <div class="form-group row" *ngIf="connectionType === 'serviceDiscovery'">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="seviceName" class="required">Service Name</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" id="seviceName" formControlName="seviceName" placeholder="Enter service name" maxlength="50">
          </div>
        </div>
        <div class="form-group row" *ngIf="connectionType === 'dnsBased'">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="domainName" class="required">Domain Name</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="domainName" id="domainName" placeholder="Enter domain name" maxlength="50">
          </div>
        </div>
        <div class="form-group row" *ngIf="connectionType === 'dnsBased'">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="portNumber" class="required">Port Number</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="portNumber" id="portNumber" placeholder="Enter port number" maxlength="50">
          </div>
        </div>
        <div class="row ">
          <div class="col-xs-12 " style="text-align: right">
            <hr>
            <button class="btn" type="button" [disabled]="externalSystemForm.invalid">Cancel</button>
                        <button class="btn btn-primary" type="submit" [disabled]="externalSystemForm.invalid">Save</button>
            <hr>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
