<div style="text-align: center">
  <h2>Dynamic API</h2>
</div>

<div class="row flex-items-xs-center form-wrapper">
  <div class="col-lg-12" style="text-align:center">
    <form action="" class="intellect-form" [formGroup]="dynamicApiForm">
      <section class="form-block" style="text-align:left">
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="systemCode" class="required">System Code</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="select form-control">
              <ng-select labelForId="systemCode" placeholder="Select system code" [searchable]="false" formControlName="systemCode">
                <ng-option value="SystemCode 1">SystemCode 1</ng-option>
                <ng-option value="SystemCode 2">SystemCode 2</ng-option>
                <ng-option value="SystemCode 3">SystemCode 3</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="apiName" class="required">API Name</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" id="apiName" formControlName="apiName" placeholder="Enter api name"
              maxlength="50">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label class="required">SSL Enabled</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="radio-inline">
              <input type="radio" name="sslEnabled" id="checkrads_9" formControlName="sslEnabled" value="yes"
                [(ngModel)]="isSSLEnabled">
              <label for="checkrads_9">Yes</label>
            </div>
            <div class="radio-inline">
              <input type="radio" name="sslEnabled" id="checkrads_10" formControlName="sslEnabled" value="no"
                [(ngModel)]="isSSLEnabled">
              <label for="checkrads_10">No</label>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12" *ngIf="isSSLEnabled === 'yes'">
            <label for="authSecretKey">Authentication Secret Key</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12" *ngIf="isSSLEnabled === 'yes'">
            <input class="form-control" type="text" id="authSecretKey" formControlName="authSecretKey"
              placeholder="Enter secret key" maxlength="50">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="httpUri" class="required">Http URI</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" id="httpUri" formControlName="httpUri" placeholder="Enter http uri"
              maxlength="2000">
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="httpMethod" class="required">HTTP Method</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <div class="select form-control">
              <ng-select labelForId="httpMethod" placeholder="Select http method" [searchable]="false" formControlName="httpMethod">
                <ng-option value="get">Get</ng-option>
                <ng-option value="post">Post</ng-option>
                <ng-option value="put">Put</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="messageTemplatized" class="required">Message Body Templatized</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="radio-inline">
              <input type="radio" name="messageTemplatized" formControlName="messageTemplatized" id="checkrads_11"
                value="yes" [(ngModel)]="isMessageTemplatized">
              <label for="checkrads_11">Yes</label>
            </div>
            <div class="radio-inline">
              <input type="radio" name="messageTemplatized" formControlName="messageTemplatized" id="checkrads_12"
                value="no" [(ngModel)]="isMessageTemplatized">
              <label for="checkrads_12">No</label>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12" *ngIf="isMessageTemplatized === 'yes'">
            <label for="bodyTemplate" class="required">Body Template</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <textarea id="bodyTemplate" formControlName="bodyTemplate" rows="5" class="form-control" maxlength="4000"
              *ngIf="isMessageTemplatized === 'yes'"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="singleRowOutput" class="required">Single Row Output</label>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <div class="radio-inline">
              <input type="radio" value="yes" formControlName="singleRowOutput" name="singleRowOutput"
                id="checkrads_13">
              <label for="checkrads_13">Yes</label>
            </div>
            <div class="radio-inline">
              <input type="radio" value="no" formControlName="singleRowOutput" name="singleRowOutput" id="checkrads_14"
                checked>
              <label for="checkrads_14">No</label>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <label for="configReqResp" class="required">Request/Response Type</label><br>
            <div class="radio-inline">
              <input type="radio" name="configReqResp" formControlName="configReqResp" id="checkrads_15"
                value="apiRequest">
              <label for="checkrads_15">Request</label>
            </div>
            <div class="radio-inline">
              <input type="radio" name="configReqResp" formControlName="configReqResp" id="checkrads_16"
                value="apiResonse">
              <label for="checkrads_16">Response</label>
            </div>
          </div>

          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="parameterType" class="required">Parameter Type</label>
            <div class="select form-control">
              <select id="parameterType" formControlName="parameterType" name="parameterTypeDropDown">
                <option value="">Select parameter type</option>
                <option value="query">Query</option>
                <option value="path">Path</option>
                <option value="header">Header</option>
                <option value="body">Body</option>
              </select>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="paramKeyOrJsonPath">Param Key/ JSON Path</label>
            <input class="form-control" type="text" id="paramKeyOrJsonPath" formControlName="paramKeyOrJsonPath"
              placeholder="Enter param key/ json path" maxlength="50">
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="mappedCode">Mapped Field Code</label>
            <div class="select form-control">
              <select id="mappedCode" formControlName="mappedCode">
                <option value="">Select mapped field code</option>
                <option valule="Option1">Option1</option>
                <option valule="Option2">Option2</option>
                <option valule="Option3">Option3</option>
                <option valule="Option4">Option4</option>
              </select>
            </div>
          </div>
          <div class="col-lg-1 col-md-4 col-sm-12 col-xs-12">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-primary">+Add</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-9">
            <table class="table">
              <thead>
                <tr>
                  <th>Request/Response Type</th>
                  <th>Parameter Type</th>
                  <th>Param Key/ JSON Path</th>
                  <th>Mapped Field Code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <!-- <tr>
                  <td>API Request</td>
                  <td>Sequence 1</td>
                  <td>1</td>
                  <td>Loren Ipsum</td>
                </tr>
                <tr>
                  <td>API Request</td>
                  <td>Sequence 2</td>
                  <td>1</td>
                  <td>Loren Ipsum</td>
                </tr>
                <tr>
                  <td>API Request</td>
                  <td>Sequence 3</td>
                  <td>1</td>
                  <td>Loren Ipsum</td>
                </tr>
                <tr>
                  <td>API Request</td>
                  <td>Sequence 4</td>
                  <td>1</td>
                  <td>Loren Ipsum</td>
                </tr> -->
              </tbody>
            </table>
          </div>

        </div>

        <div class="row ">
          <div class="col-xs-12 " style="text-align: right">
            <hr>
            <button class="btn" type="button" [disabled]="dynamicApiForm.invalid">Cancel</button>
            <button class="btn btn-primary" type="submit" [disabled]="dynamicApiForm.invalid">Save</button>
            <hr>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
