<div style="text-align: center">
  <h2>List Configuration</h2>
</div>
<div class="row flex-items-xs-center form-wrapper">
  <div class="col-lg-12" style="text-align:center">
    <form action="" class="intellect-form" [formGroup]="listConfigForm">
      <section class="form-block" style="text-align:left">
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="listCode" class="required">List Code</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" id="listCode" formControlName="listCode"
              placeholder="Enter list code" maxlength="20">
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="listName" class="required">List Name</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" id="listName" formControlName="listName"
              placeholder="Enter list name" maxlength="50">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="listSource" class="required">List Source</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <div class="select form-control">
              <!-- <select id="listSource" formControlName="listSource" name="listSourceDropDown" [(ngModel)]="listSource">
                <option value="">Select list source</option>
                <option value="This Screen">This Screen</option>
                <option value="Query">Query</option>
                <option value="Dynamic API">Dynamic API</option>
              </select> -->
              <ng-select labelForId="listSource" placeholder="Select list source" bindLabel="value" [searchable]="false" formControlName="listSource">
                <ng-option *ngFor="let ls of listSourceData" [value]="ls">{{ ls.title }}</ng-option>
                <!-- <ng-option value="This Screen">This Screen</ng-option>
                <ng-option value="Query">Query</ng-option> -->
            </ng-select>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12" *ngIf="listSourceType === 'Query'">
            <label for="queryCode">Query Code</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12" *ngIf="listSourceType === 'Query'">
            <div class="select form-control">
              <select id="queryCode" formControlName="queryCode">
                <option value="">Select query code</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12" *ngIf="listSourceType === 'Dynamic API'">
            <label for="dynamicApi">Dynamic API</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12" *ngIf="listSourceType === 'Dynamic API'">
            <div class="select form-control">
              <select id="dynamicApi" formControlName="dynamicApi">
                <option value="">Select dynamic api</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="listSourceType === 'This screen'">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="listName" class="required">List Name</label>
            <input class="form-control" type="text" id="listName" placeholder="Enter list code" maxlength="20">
          </div>
          <div class="col-lg-2 col-md-8 col-sm-12 col-xs-12">
              <label for="listValue" class="required">List Value</label>
              <input class="form-control" type="text" id="listValue" placeholder="Enter list name" maxlength="50">
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label>&nbsp;</label><br>
            <button type="submit" class="btn btn-primary">+Add</button>
          </div>

        </div>
        <div class="form-group row" *ngIf="listSourceType === 'This screen'">
          <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
              <table class="table">
                  <thead>
                    <tr>
                      <th>List Sequence</th>
                      <th>List Name</th>
                      <th>List Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <!-- <tr>
                      <td>{{listSeq}}</td>
                      <td>Loren Ipsum</td>
                      <td>1.2</td>
                    </tr>
                    <tr>
                      <td>{{listSeq}}</td>
                      <td>Loren Ipsum</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>{{listSeq}}</td>
                      <td>Loren Ipsum</td>
                      <td>333.1</td>
                    </tr> -->
                  </tbody>
                </table>
          </div>

        </div>
        <div class="row ">
          <div class="col-xs-12 " style="text-align: right">
            <hr>
            <button class="btn" type="button" [disabled]="listConfigForm.invalid">Cancel</button>
            <button class="btn btn-primary" type="submit" [disabled]="listConfigForm.invalid">Save</button>
            <hr>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
