<div style="text-align:center">
  <h2>Enrichment Rule Setup</h2>
  <div class="row flex-items-xs-center form-wrapper">
    <div class="col-lg-12" style="text-align:center">
      <form action="" class="intellect-form" [formGroup]="enrichmentRuleForm">

        <section class="form-block" style="text-align:left">
          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="ruleCode" class="required">Rule Code</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <input class="form-control" type="text" formControlName="ruleCode" id="ruleCode"
                placeholder="Enter rule code" size="45" maxlength="20">
            </div>
            <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="ruleName" class="required">Rule Name</label>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
              <input class="form-control" type="text" formControlName="ruleName" id="ruleName"
                placeholder="Enter rule name" size="45" maxlength="50">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="ruleDescription" class="required">Rule Description</label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <input class="form-control" type="text" formControlName="ruleDescription" id="ruleDescription"
                placeholder="Enter rule description" size="45" maxlength="20">
            </div>
            <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="ruleBucket" class="required">Rule Bucket</label>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
              <div class="select form-control">
                <ng-select labelForId="ruleBucket" placeholder="Select rule bucket" [searchable]="false"
                  formControlName="ruleBucket">
                  <ng-option value="enrichment">Enrichment</ng-option>
                  <ng-option value="decision">Decision</ng-option>
                  <ng-option value="advise">Advise</ng-option>
                </ng-select>
              </div>
            </div>
          </div>


          <br><br>
          <h3 class="heading"><strong>"If" Rule</strong></h3>
          <hr><br>
          <div class="form-group row">

            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="sequence">Sequence</label>
              <div class="select form-control">
                <ng-select labelForId="sequence" placeholder="Select sequence" [searchable]="false"
                  formControlName="sequence">
                  <ng-option value="Option 1">Option 1</ng-option>
                  <ng-option value="Option 2">Option 2</ng-option>
                  <ng-option value="Option 3">Option 3</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
              <label for="validationRuleBucket">Validation Rule Bucket</label>
              <div class="select form-control">
                <ng-select labelForId="validationRuleBucket" placeholder="Select validation rule bucket"
                  [searchable]="false" formControlName="validationRuleBucket">
                  <ng-option value="Option 1">Option 1</ng-option>
                  <ng-option value="Option 2">Option 2</ng-option>
                  <ng-option value="Option 3">Option 3</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="gForm_1">Validation Rule</label>
              <div class="select form-control">
                <ng-select labelForId="validationRule" placeholder="Select validation rule bucket" [searchable]="false"
                  formControlName="validationRule">
                  <ng-option value="Value">Value</ng-option>
                  <ng-option value="isNull">isNull</ng-option>
                  <ng-option value="Length">Length</ng-option>
                  <ng-option value="Ceil">Ceil</ng-option>
                  <ng-option value="Floor">Floor</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="enrichmentTypeIf">Enrichment Type</label>
              <div class="select form-control">
                <ng-select labelForId="enrichmentTypeIf" placeholder="Select enrichment type" [searchable]="false"
                  formControlName="enrichmentTypeIf">
                  <ng-option value="Fixed">Fixed</ng-option>
                  <ng-option value="Dynamic API">Dynamic API</ng-option>
                  <ng-option value="Query">Query</ng-option>
                  <ng-option value="Env Var">Env Var</ng-option>
                  <ng-option value="Field">Field</ng-option>
                  <ng-option value="E-Rule">E-Rule</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="enrichmentValueIf">Enrichment Value</label>
              <input class="form-control" type="text" formControlName="enrichmentValueIf" id="enrichmentValueIf"
                placeholder="Enter enrichment value" size="45" maxlength="20">
            </div>
            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
              <label>&nbsp;</label><br>
              <button type="button" class="btn btn-primary">+Add</button>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-11">
              <table class="table">
                <thead>
                  <tr>
                    <th>Sequence</th>
                    <th>Validation Rule Bucket</th>
                    <th>Validation Rule</th>
                    <th>Enrichment Type </th>
                    <th>Enrichment Value </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <br><br>
          <h3 class="heading"><strong>"Else" Rule</strong></h3>
          <hr><br>

          <div class="form-group row">
            <div class="offset-lg-7 col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="enrichmentTypeElse">Enrichment Type </label>
              <div class="select form-control">
                <ng-select labelForId="enrichmentTypeElse" placeholder="Select enrichment type" [searchable]="false"
                  formControlName="enrichmentTypeElse">
                  <ng-option value="Fixed">Fixed</ng-option>
                  <ng-option value="Dynamic API">Dynamic API</ng-option>
                  <ng-option value="Query">Query</ng-option>
                  <ng-option value="Env Var">Env Var</ng-option>
                  <ng-option value="Field">Field</ng-option>
                  <ng-option value="E-Rule">E-Rule</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="enrichmentValueElse">Enrichment Value </label>
              <input class="form-control" type="text" formControlName="enrichmentValueElse" id="enrichmentValueElse"
                placeholder="Enter enrichment value" size="45" maxlength="50">
            </div>
          </div>

          <div class="row ">
            <div class="col-xs-12 " style="text-align: right">
              <hr>
              <button class="btn" type="button" [disabled]="enrichmentRuleForm.invalid">Cancel</button>
              <button class="btn btn-primary" type="submit" [disabled]="enrichmentRuleForm.invalid">Save</button>
              <hr>
            </div>
          </div>
        </section>

      </form>
    </div>
  </div>
</div>
