<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div style="text-align: center">
      <form class="intellect-form">
          <section class="form-block">
              <label>Form Inside a Grid</label>
              <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                      <label for="gForm_1">Input field</label>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <input class="form-control" type="text" id="gForm_1" placeholder="Enter value here" size="45">
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <input class="form-control" type="password" id="gForm_2" placeholder="Enter another value here" size="35">
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                      <label for="yesno">Select box</label>
                  </div>
                  <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                      <div class="select form-control">
                        <ng-select labelForId="yesno" placeholder="Select item" [searchable]="false" formControlName="yesno">
                          <ng-option [value]="true">Yes</ng-option>
                          <ng-option [value]="false">No</ng-option>
                      </ng-select>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                      <label for="gForm_3">Select box</label>
                  </div>
                  <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                      <div class="select form-control">
                          <select id="gForm_3">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                      <label for="gForm_4">Text area</label>
                  </div>
                  <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                      <textarea id="gForm_4" rows="5" class="form-control"></textarea>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                      <label>Another select box</label>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                      <div class="select form-control">
                          <select id="exampleSelect1">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12">
                      <span>Sockets: 1</span>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                      <label for="gForm_3">Other form fields</label>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                      <div class="toggle-switch">
                          <input type="checkbox" id="othertoggle">
                          <label for="othertoggle">Toggle</label>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <div class="checkbox-inline">
                          <input type="checkbox" id="othercheckbox" checked>
                          <label for="othercheckbox">Inline Checkbox</label>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                      <label>Radio Buttons</label>
                  </div>
                  <div class="col-lg-6 col-md-3 col-sm-12 col-xs-12">
                      <div class="radio">
                          <input type="radio" name="gridRadios" id="checkrads_9">
                          <label for="checkrads_9">Radio option 1</label>
                      </div>
                      <div class="radio">
                          <input type="radio" name="gridRadios" id="checkrads_10" checked>
                          <label for="checkrads_10">Radio option 2 (checked)</label>
                      </div>
                      <div class="radio-inline col-lg-6">
                          <input type="radio" name="gridRadios1" id="checkrads_11">
                          <label for="checkrads_11">Radio option 1</label>
                      </div>
                      <div class="radio-inline">
                          <input type="radio" name="gridRadios1" id="checkrads_12" checked>
                          <label for="checkrads_12">Radio option 2 (checked)</label>
                      </div>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary">Button</button>
          </section>
      </form>
  </div>
</div>
