<div>
  <h1>Welcome to {{ title }}!</h1>
  <br><br>
  <ul>
    <li><a href="dynamic-api">Dynamic Api</a></li>
    <li><a href="interfacing-system">Interfacing System</a></li>
    <li><a href="field-master">Field Master</a></li>
    <li><a href="list-config">List Config</a></li>
    <li><a href="query-config">Query Config</a></li>
    <li><a href="validation-rule-setup">Validation Rule Setup</a></li>
    <li> <a href="hierarchy-preference">Hierarchy Preference</a></li>
    <li> <a href="decision-param">Decision Param</a></li>
    <li><a href="enrichment-rule-setup">Enrichment Rule Setup</a></li>
    <li><a href="offering">Offering</a></li>
    <li><a href="error-code">Error Code</a></li>
  </ul>
  </div>
