<div style="text-align: center">
  <h2>Product Offering</h2>
  <div class="row flex-items-xs-center form-wrapper">
    <div class="col-lg-12" style="text-align:center">

      <div class="row form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form action="" class="intellect-form" [formGroup]="offeringCodeForm">
            <clr-tabs>
              <clr-tab>
                <button clrTabLink>Offering Definition</button>
                <ng-template [(clrIfActive)]="dashboardActive">
                  <clr-tab-content>
                    <section class="form-block" style="text-align:left" formGroupName="offeringDefinition">

                      <div class="form-group row">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="offeringCode" class="required">Offering Code</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                          <input class="form-control" type="text" formControlName="offeringCode" id="offeringCode"
                            placeholder="Enter offering code" size="45" maxlength="20">
                        </div>
                        <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="entityCode" class="required">Entity Code</label>
                        </div>
                        <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
                          <div class="select form-control">
                              <ng-select labelForId="entityCode" placeholder="Select entity code" [searchable]="false"
                              formControlName="entityCode">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="productCode" class="required">Product Code</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                          <div class="select form-control">
                              <ng-select labelForId="productCode" placeholder="Select product code" [searchable]="false"
                              formControlName="productCode">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="subProductCode" class="required">Sub Product Code</label>
                        </div>
                        <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
                          <input class="form-control" type="text" formControlName="subProductCode" id="subProductCode"
                            placeholder="Enter sub product code" size="45" maxlength="20">
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="offeringName" class="required">Offering Name</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                          <input class="form-control" type="text" formControlName="offeringName" id="offeringName"
                            placeholder="Enter offering name" size="45" maxlength="20">
                        </div>
                        <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="offeringDescription" class="required">Offering Description</label>
                        </div>
                        <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
                          <input class="form-control" type="text" formControlName="offeringDescription"
                            id="offeringDescription" placeholder="Enter offering description" size="45" maxlength="200">
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="disclaimerBucket" class="required">Disclaimer Bucket</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                          <div class="select form-control">
                              <ng-select labelForId="disclaimerBucket" placeholder="Select disclaimer bucket" [searchable]="false"
                              formControlName="disclaimerBucket">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="disclaimerRule" class="required">Disclaimer Rule</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                          <div class="select form-control">
                              <ng-select labelForId="disclaimerRule" placeholder="Select disclaimer rule" [searchable]="false"
                              formControlName="disclaimerRule">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="advisingBucket" class="required">Advising Bucket</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                          <div class="select form-control">
                              <ng-select labelForId="advisingBucket" placeholder="Select advising bucket" [searchable]="false"
                              formControlName="advisingBucket">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="advisingRule" class="required">Advising Rule</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                          <div class="select form-control">
                              <ng-select labelForId="advisingRule" placeholder="Select advising rule" [searchable]="false"
                              formControlName="advisingRule">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="marketingBucket" class="required">Marketing Bucket</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                          <div class="select form-control">
                              <ng-select labelForId="marketingBucket" placeholder="Select marketing bucket" [searchable]="false"
                              formControlName="marketingBucket">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="marketingRule" class="required">Marketing Rule</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                          <div class="select form-control">
                              <ng-select labelForId="marketingRule" placeholder="Select marketing rule" [searchable]="false"
                              formControlName="marketingRule">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="row ">
                        <div class="col-xs-12 " style="text-align: right">
                          <hr>
                          <button class="btn" type="button" [disabled]="offeringCodeForm.invalid">Cancel</button>
                          <button class="btn btn-primary" type="button"
                            [disabled]="offeringCodeForm.invalid">Next</button>
                          <hr>
                        </div>
                      </div>
                    </section>
                  </clr-tab-content>
                </ng-template>
              </clr-tab>

              <clr-tab>
                <button clrTabLink>Offering Fields</button>
                <ng-template [(clrIfActive)]="managementActive">
                  <clr-tab-content>
                    <section class="form-block" style="text-align:left" formGroupName="offeringFields">

                      <div class="form-group row">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="fieldBucket" class="required">Field Bucket</label>
                          <div class="select form-control">
                              <ng-select labelForId="fieldBucket" placeholder="Select field bucket" [searchable]="false"
                              formControlName="fieldBucket">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="offeringField" class="required">Offering Field</label>
                          <div class="select form-control">
                              <ng-select labelForId="offeringField" placeholder="Select offering field" [searchable]="false"
                              formControlName="offeringField">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="mandatoryOptional" class="required">Mandatory / Optional</label>
                          <div class="select form-control">
                              <ng-select labelForId="mandatoryOptional" placeholder="Select  mandatory /optional" [searchable]="false"
                              formControlName="mandatoryOptional">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                          <label for="inputDerivedFulfillment" class="required">Input / Derived / Fulfilment</label>
                          <div class="select form-control">
                              <ng-select labelForId="inputDerivedFulfillment" placeholder="Select input /derived /fulfilment" [searchable]="false"
                              formControlName="inputDerivedFulfillment">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"><label>&nbsp;</label>
                          <button type="button" class="btn btn-primary">+Add</button>
                          </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                          <table class="table">
                            <thead>
                              <tr>
                                <th class="left">Field Bucket</th>
                                <th>Offering Field</th>
                                <th>Derived Fields</th>
                                <th>Elimination rules</th>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                            </thead>
                          </table>
                        </div>
                      </div>

                      <div class="row ">
                        <div class="col-xs-12 " style="text-align: right">
                          <hr>
                          <button class="btn" type="button" [disabled]="offeringCodeForm.invalid">Cancel</button>
                          <button class="btn btn-primary" type="button"
                            [disabled]="offeringCodeForm.invalid">Next</button>
                          <hr>
                        </div>
                      </div>
                    </section>
                  </clr-tab-content>
                </ng-template>
              </clr-tab>

              <clr-tab>
                <button clrTabLink>Enrichment Rules</button>
                <ng-template [(clrIfActive)]="cloudActive">
                  <clr-tab-content>
                    <section class="form-block" style="text-align:left" formGroupName="derivedFields">
                      <div class="form-group row">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="offeringField" class="required">Offering Field</label>
                          <div class="select form-control">
                              <ng-select labelForId="offeringField" placeholder="Select offering field" [searchable]="false"
                              formControlName="offeringField">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                            <label for="enrichmentRule" class="required">Enrichment Rule</label>
                            <div class="select form-control">
                                <ng-select labelForId="enrichmentRule" placeholder="Select enrichment rule" [searchable]="false"
                                formControlName="enrichmentRule">
                                <ng-option value="enrichment rule 1">enrichment rule 1</ng-option>
                                <ng-option value="enrichment rule 2">enrichment rule 2</ng-option>
                                <ng-option value="enrichment rule 3">enrichment rule 3</ng-option>
                                <ng-option value="enrichment rule 4">enrichment rule 4</ng-option>
                                <ng-option value="enrichment rule 5">enrichment rule 5</ng-option>
                              </ng-select>
                              </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                            <label for="validationRule">Validation Rule</label>
                            <div class="select form-control">
                                <ng-select labelForId="validationRule" placeholder="Select validation rule" [searchable]="false"
                                formControlName="validationRule">
                                <ng-option value="validation rule 1">validation rule 1</ng-option>
                                <ng-option value="validation rule 2">validation rule 2</ng-option>
                                <ng-option value="validation rule 3">validation rule 3</ng-option>
                                <ng-option value="validation rule 4">validation rule 4</ng-option>
                                <ng-option value="validation rule 5">validation rule 5</ng-option>
                              </ng-select>
                              </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                            <label for="errorRaised" class="required">Raise an Error?</label><br>
                            <div class="checkbox-inline flex-items-xs-center">
                                <input type="checkbox" id="errorRaised" formControlName="errorRaised" value="yes" checked>
                                <label for="errorRaised">&nbsp;</label>
                              </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                            <label for="errorCode">Error Code</label>
                            <div class="select form-control">
                                <ng-select labelForId="errorCode" placeholder="Select error code" [searchable]="false"
                                formControlName="errorCode">
                                <ng-option value="Option 1">Option 1</ng-option>
                                <ng-option value="Option 2">Option 2</ng-option>
                                <ng-option value="Option 3">Option 3</ng-option>
                                <ng-option value="Option 4">Option 4</ng-option>
                                <ng-option value="Option 5">Option 5</ng-option>
                              </ng-select>
                              </div>
                        </div>
                        <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"><label>&nbsp;</label>
                          <button type="button" class="btn btn-primary">+Add</button>
                          </div>
                      </div>
                      <div class="row form-group">
                          <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th class="left">Offering Field</th>
                                  <th>Enrichment Rule</th>
                                  <th>Validation Rule</th>
                                  <th>Raise an Error?</th>
                                  <th>Error Code</th>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                      <div class="row ">
                        <div class="col-xs-12 " style="text-align: right">
                          <hr>
                          <button class="btn" type="button" [disabled]="offeringCodeForm.invalid">Cancel</button>
                          <button class="btn btn-primary" type="button"
                            [disabled]="offeringCodeForm.invalid">Next</button>
                          <hr>
                        </div>
                      </div>
                    </section>
                  </clr-tab-content>
                </ng-template>
              </clr-tab>
              <clr-tab>
                <button clrTabLink>Elimination Rules</button>
                <ng-template [(clrIfActive)]="infrastructureActive">
                  <clr-tab-content>
                    <section class="form-block" style="text-align: left;" formGroupName="eliminationRules">
                      <div class="form-group row">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="validationRule" class="required">Validation Rule</label>
                          <div class="select form-control">
                              <ng-select labelForId="validationRule" placeholder="Select validation rule" [searchable]="false"
                              formControlName="validationRule">
                              <ng-option value="Option 1">Option 1</ng-option>
                              <ng-option value="Option 2">Option 2</ng-option>
                              <ng-option value="Option 3">Option 3</ng-option>
                              <ng-option value="Option 4">Option 4</ng-option>
                              <ng-option value="Option 5">Option 5</ng-option>
                            </ng-select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                            <label for="errorRaised" class="required">Raise an Error?</label><br>
                            <div class="checkbox-inline">
                                <input type="checkbox" id="errorRaised" formControlName="errorRaised" value="yes" checked>
                                <label for="errorRaised">&nbsp;</label>
                              </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                            <label for="errorCode">Error Code</label>
                            <div class="select form-control">
                                <ng-select labelForId="errorCode" placeholder="Select error code" [searchable]="false"
                                formControlName="errorCode">
                                <ng-option value="Option 1">Option 1</ng-option>
                                <ng-option value="Option 2">Option 2</ng-option>
                                <ng-option value="Option 3">Option 3</ng-option>
                                <ng-option value="Option 4">Option 4</ng-option>
                                <ng-option value="Option 5">Option 5</ng-option>
                              </ng-select>
                              </div>
                        </div>
                        <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"><label>&nbsp;</label>
                          <button type="button" class="btn btn-primary">+Add</button>
                          </div>
                      </div>
                      <div class="row form-group">
                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th class="left">Validation Rule</th>
                                  <th>Raise an Error?</th>
                                  <th>Error Code</th>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                      <div class="row ">
                        <div class="col-xs-12 " style="text-align: right">
                          <hr>
                            <button class="btn" type="button" [disabled]="offeringCodeForm.invalid">Cancel</button>
                            <button class="btn btn-primary" type="submit" [disabled]="offeringCodeForm.invalid">Save</button>
                          <hr>
                        </div>
                      </div>
                    </section>
                  </clr-tab-content>
                </ng-template>
              </clr-tab>
            </clr-tabs>
          </form>
        </div>
      </div>

    </div>
  </div>



</div>
