<div style="text-align: center">
  <h2>Field Master</h2>
</div>

<div class="row flex-items-xs-center form-wrapper">
  <div class="col-lg-12" style="text-align:center">
    <form action="" class="intellect-form" [formGroup]="fieldMasterForm">
      <section class="form-block" style="text-align:left">
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="fieldCode" class="required">Field Code</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="fieldCode" id="fieldCode"
              placeholder="Enter field code" maxlength="20">
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="fieldName" class="required">Field Name</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="fieldName" id="fieldName"
              placeholder="Enter field name" maxlength="50">
          </div>
        </div>
        <div class="form-group row">

          <div class=" col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="dataType" class="required">Data Type</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="select form-control">
              <ng-select labelForId="dataType" placeholder="Select enrichment type" [searchable]="false"
                formControlName="dataType">
                <ng-option value="Alphanumeric">Alphanumeric</ng-option>
                <ng-option value="Numeric">Numeric</ng-option>
                <ng-option value="Big Numeric">Big Numeric</ng-option>
                <ng-option value="Date">Date</ng-option>
                <ng-option value="Time">Time</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="dataLength" class="required">Data Length</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" formControlName="dataLength" id="dataLength"
              placeholder="Enter data length" maxlength="4">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="fieldBucket" class="required">Field Bucket</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="select form-control">
              <ng-select labelForId="fieldBucket" placeholder="Select field bucket" [searchable]="false"
                formControlName="fieldBucket">
                <ng-option value="Option 1">Option 1</ng-option>
                <ng-option value="Option 2">Option 2</ng-option>
                <ng-option value="Option 3">Option 3</ng-option>
                <ng-option value="Option 4">Option 4</ng-option>
                <ng-option value="Option 5">Option 5</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="validationRule" class="required">Validation Rule</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="select form-control">
              <ng-select labelForId="fieldBucket" placeholder="Select validation rule"
                [searchable]="false" formControlName="fieldBucket">
                <ng-option value="VR 1">VR 1</ng-option>
                <ng-option value="VR 2">VR 2</ng-option>
                <ng-option value="VR 3">VR 3</ng-option>
                <ng-option value="VR 4">VR 4</ng-option>
                <ng-option value="VR 5">VR 5</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-xs-12 " style="text-align: right">
            <hr>
            <button class="btn" type="button" [disabled]="fieldMasterForm.invalid">Cancel</button>
            <button class="btn btn-primary" type="submit" [disabled]="fieldMasterForm.invalid">Save</button>
            <hr>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
