/* You can add global styles to this file, and also import other style files */

@import "~@igtb-digital/intellect-styles/all.scss";

html {
  min-width: 100%;
  width: 100%;
}
@media (min-width:998px) {
  html {
    min-width: 992px;
  }
}
form.intellect-form {
    input[type=password],
    input[type=date],
    input[type=datetime-local],
    input[type=email],
    input[type=number],
    input[type=tel],
    input[type=time],
    input[type=url],
    .select select {
        background: transparent;
        border: 1px solid #9a9a9a;
        border-radius: 3px;
        height: 1.5rem;
        line-height: 1.5rem;
        transition: none;
    }
    label {
        margin-top: 0.5rem;
    }
    input[type=date]:not([readonly]):focus,
    input[type=datetime-local]:not([readonly]):focus,
    input[type=email]:not([readonly]):focus,
    input[type=number]:not([readonly]):focus,
    input[type=password]:not([readonly]):focus,
    input[type=tel]:not([readonly]):focus,
    input[type=text]:not([readonly]):focus,
    input[type=time]:not([readonly]):focus,
    input[type=url]:not([readonly]):focus,
    .select select:not([readonly]):focus {
        border-bottom: 1px solid #0094d2;
        background-size: 100% 100%;;
        outline: -webkit-focus-ring-color auto 1px;
    }
    .form-block {
        margin-bottom: 0px;
    }
    .form-group {
      .radio-inline {
        margin: 0.6rem 0.7rem 0.6rem 0;
      }
      .btn-actions {
        display: flex;
        justify-content: space-evenly;
        .btn {
          margin-right: 0;
        }
      }
      &.row{
        .errors{
          color: red;
          margin: 0;
          font-size: 12px;
        }
      }
      .select {
        .ng-dropdown-panel {
          left: 0;
        }
      }
    }

    input[type=text]:disabled,
    .select {

      &:after {
        content: none;
      }

      select:disabled {
        background: #ccc;
      }

    }

    .heading {
      padding-bottom: 7px;
    }
}
.form-wrapper {
    width: 91%;
    margin: 0 auto;
}
.btn-back {
  position: relative;
  a {
    padding: 17px 20px;
    display: inline-block;
  }
}
.nav-link {
  img {
    max-width: 70px;
  }
}

.clr-wizard {
  .modal-dialog {
    box-shadow: none;

    .modal-content {
      background: none;
    }

    .clr-wizard-stepnav-wrapper {
      max-width: 100%;
      width: 100%;
      border-right: none;
    }
    .modal-content-wrapper {
      display: block;
    }
    .clr-wizard-stepnav-item {
      display: inline-block;
      width: 30%;
      box-shadow: inset 0 0.16667rem 0 0 #eee;
      &.complete {
        box-shadow: inset 0 0.16667rem 0 0 #60b515;
      }
    }
  }

}

